.pia {
  &-navigationBlock {
    position: relative;
    background-color: $rezz-red;
    margin-top: 4px;
    &-structures {
      background-color: $rezz-red;
    }
    .container {
      position: relative;
    }
    &-list {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:last-child {
        float: right;
      }
      > li {
        display: inline-block;
        vertical-align: top;
        height: 28px;
        > a {
          display: block;
          padding: 4px 20px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.38rem;
          &:focus,
          &:hover,
          &:active {
            background-color: #fff;
            color: $rezz-red;
          }

          &.active {
            color: $rezz-red;
          }
        }
        a {
          text-decoration: none;
        }

        &.active {
          a {
            color: $rezz-red !important;
          }
        }
      }
      .pia-navigationBlock-languages {
        color: #fff;
        position: relative;
        border-left: 1px solid #fff;
        .fa-globe,
        .fa-info-circle {
          font-size: 1.8rem;
          margin-top: 2px;
        }
        > ul {
          display: none;
          z-index: 999;
          background-color: #fff;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 28px;
          left: -1px;
          min-width: 200px;
          color: $pia-light-black;
          list-style-type: none;
          box-shadow: 2px 2px 4px 1px rgba(181, 181, 181, 1);
          li {
            text-align: left;
            color: #fff;
            cursor: pointer;
            a {
              font-size: 1.2rem;
              text-transform: none;
              font-weight: normal;
              text-decoration: none;
              color: $pia-light-black;
              padding: 3px 8px;
            }
            &.is_active {
              text-decoration: underline;
              a {
                font-weight: bold;
              }
            }
          }
          .officialTranslation,
          .cnilTranslations,
          .dpaTranslations,
          .communityTranslations {
            font-weight: 600;
            color: #393939;
            list-style-type: none;
            padding: 5px 8px;
          }
          .cnilTranslations,
          .dpaTranslations,
          .communityTranslations {
            border-top: 1px solid #a7a7a7;
            padding-bottom: 3px;
          }
        }
        &:hover {
          > a,
          > ul {
            background-color: #fff;
          }
          .fa-globe {
            color: $rezz-red;
          }
          > ul {
            display: block;
            background-color: #fff;
            > li {
              background-color: #fff;
              a {
                display: block;
                &:focus,
                &:hover,
                &:active {
                  color: #fff;
                  background-color: $rezz-red;
                }
              }
            }
          }
        }
        > a {
          padding: 4px 14px !important;
          &:focus,
          &:hover,
          &:active {
            & + ul {
              display: block;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
