// General colors
$pia-green: #2c4f4f;
$pia-red: #811e0a;
$pia-blue: #99a6b7;
$pia-white: #f5f5f5;
$pia-gray: #a7a7a7;
$pia-light-black: #393939;
$pia-dark-black: #404e4d;

$pia-green-dark: #127137;
$pia-red-dark: #a3333d;
$pia-gray-dark: #686868;

$rezz-red: #811e0a;

// Settings Foundation
$global-flexbox: true;
$global-font-size: 100%;
$global-width: 1180px;
$global-lineheight: 1.5;

$breakpoints: (
  small: 0,
  large: 1024px,
  medium: 640px,
  xlarge: 1200px,
  xxlarge: 1440px
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 50px,
  medium: 20px
);
$grid-column-align-edge: true;
$block-grid-max: 8;
